.lteie8 .soc-tabs .icon { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); }
.lteie8 .soc-tabs .active .icon { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); }
.lteie8 .btn { background: #5fa5e5; }
.lteie8 .btn_gray { background: #9ba1a4; }

* + html .icon, * + html .soc a, * + html .cons__badge, * + html .cons__cont a, * + html .nav a span, * + html .exchange__rate, * + html .btn-simple, * + html .scroll-nav a, * + html .select, * + html .partner__logo, * + html .partner__descr, * + html .partner__rate, * + html .program, * + html .radio { display: inline; }
* + html .select span { display: none; }

* html .l-col-3 { margin-right: 35px; overflow: hidden; }
* html .exchange { height: 100%; }
* html .exchange__euro, * html .exchange__dollar { width: 105px; }
