.wrap-scroll { position: relative; overflow: hidden; padding-bottom: 35px; }
.wrap-scroll .nav { position: relative; z-index: 2; float: left; }

.scroll { position: relative; overflow: hidden; }

.scroll__wrap { position: absolute; width: 2000em; }

.scroll__item { float: left; }

.scroll-nav { text-align: center; }
.scroll-nav a { display: inline-block; margin-right: 5px; width: 14px; height: 14px; background: #fff; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; cursor: pointer; }
.scroll-nav .active { background: #9ebf4e; -webkit-box-shadow: 0 0 0 2px white; -moz-box-shadow: 0 0 0 2px white; box-shadow: 0 0 0 2px white; }

.scroll-img { position: relative; z-index: 2; float: left; width: 675px; border: 5px solid #fff; }
.scroll-img .scroll-nav { position: absolute; bottom: 19px; left: 0; z-index: 2; width: 100%; }

.scroll-main { height: 298px; overflow: hidden; }
.scroll-main img { float: left; }

.scrollable { position: relative; width: 990px; margin: 0 auto; height: 110px; }
.scrollable .icon_prev, .scrollable .icon_next { position: absolute; right: 0; top: 50%; margin-top: -9px; cursor: pointer; user-select: none; -moz-user-select: none; -webkit-user-select: none; }
.scrollable .icon_prev { left: 0; }
.scrollable .disabled { display: none; }

.scroll-partners { margin-left: 23px; padding-top: 15px; width: 938px; height: 95px; background: #fff; -moz-transform: skew(-10deg); -o-transform: skew(-10deg); -webkit-transform: skew(-10deg); -ms-transform: skew(-10deg); transform: skew(-10deg); }
.scroll-partners .scroll__wrap { -moz-transform: skew(10deg); -o-transform: skew(10deg); -webkit-transform: skew(10deg); -ms-transform: skew(10deg); transform: skew(10deg); }
.scroll-partners .scroll__item { margin-left: 18px; width: 215px; }
.scroll-partners .scroll__item a { float: right; width: 170px; line-height: 1; }
.scroll-partners .scroll__item strong { display: block; margin-bottom: 8px; }
.scroll-partners img { float: left; margin-right: 9px; border: 1px solid #c1c5c6; }
