.question__read:after { content: "→"; font-family: 'Conv_MinionPro-Regular'; color: #75922e; font-size: 17px; padding-left: 5px; }

.page-title { overflow: hidden; padding-bottom: 28px; }
.page-title .title-l-1 { float: left; }
.page-title .btn, .page-title .select { float: right; }

.article { margin-bottom: 28px; padding-bottom: 30px; color: #474747; -webkit-box-shadow: inset 0 -20px 32px -15px rgba(255, 255, 255, 0.8); -moz-box-shadow: inset 0 -20px 32px -15px rgba(255, 255, 255, 0.8); box-shadow: inset 0 -20px 32px -15px rgba(255, 255, 255, 0.8); }
.article .title-l-2 { padding-bottom: 3px; color: #3375b1; }
.article .title-l-2 a { color: #3375b1; }

.article__date { padding-bottom: 14px; color: #99a0a1; font-size: 13px; }

.article__preview { float: left; margin-right: 20px; border: 1px solid #c9d0d1; }
.article__preview img { display: block; border: 3px solid #fff; }

.article__meta { padding-left: 8px; color: #99a0a1; font-size: 13px; }
.article__meta .icon { vertical-align: middle; margin: 0 3px 0 5px; }

.article__descr { overflow: hidden; }
.article__descr p { margin-bottom: 10px; }

.question { overflow: hidden; }

.question__body { display: none; padding: 0 0 10px 48px; font-weight: normal; font-family: 'pt_sansitalic', sans-serif; }
.question__body p { margin-bottom: 10px; }

.question__date { margin-bottom: 2px; font-size: 13px; font-weight: normal; font-family: 'pt_sansregular', sans-serif; }

.question__read { color: #75922e; border-bottom: 1px dashed; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; user-select: none; }

.pagin a { display: inline-block; margin-right: 12px; }
.pagin a:first-child, .pagin a:last-child { font-weight: normal; font-family: 'Conv_MinionPro-Regular'; }

.pagin__active { font-weight: normal; font-family: 'pt_sansbold', sans-serif; color: #3375b1; text-decoration: none; }

.popup_question { width: 523px; margin-left: -261px; }
.popup_question textarea { height: 183px; }
.popup_question .btn_big { margin: 0 auto; width: 128px; width: 128px; display: block; }

.tab { margin-top: 50px; margin-bottom: -23px; }
.tab span { display: block; position: relative; margin: -22px auto -1px; padding-left: 6px; width: 138px; height: 21px; line-height: 21px; background: #f8f7f7; font-size: 12px; color: #666; border-top: 1px solid #d8d6d6; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.tab span:before, .tab span:after { content: ""; position: absolute; top: -1px; right: -12px; background: url('../img/icons-s83909c1603.png') 0 -1077px no-repeat; width: 12px; height: 22px; }
.tab span:before { left: -12px; background: url('../img/icons-s83909c1603.png') 0 -1045px no-repeat; width: 12px; height: 22px; }
.tab .active { background: #fff; }
.tab .active:after { background: url('../img/icons-s83909c1603.png') 0 -981px no-repeat; width: 12px; height: 22px; }
.tab .active:before { background: url('../img/icons-s83909c1603.png') 0 -1013px no-repeat; width: 12px; height: 22px; }
.tab div { height: 21px; background: #f8f7f7; border: 1px solid #d8d6d6; }

.tab-cont { display: none; position: relative; overflow: hidden; background: #fff; border: 1px solid #d8d6d6; border-top: 0; }
.tab-cont .icon_prev, .tab-cont .icon_next { position: absolute; top: 50%; right: 13px; margin-top: -9px; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.tab-cont .icon_prev { left: 13px; }
.tab-cont .disabled { display: none; }

.scroll-tab { padding-top: 12px; margin: 0 auto; height: 260px; width: 226px; }
.scroll-tab .scroll__item { padding: 5px; margin-right: 15px; }
.scroll-tab .cons { margin: 0; }

.content-wrap { padding-bottom: 18px; margin-bottom: 25px; -webkit-box-shadow: inset 0 -20px 32px -15px rgba(255, 255, 255, 0.8); -moz-box-shadow: inset 0 -20px 32px -15px rgba(255, 255, 255, 0.8); box-shadow: inset 0 -20px 32px -15px rgba(255, 255, 255, 0.8); }

.content { padding-top: 42px; }
.content h1 { padding-bottom: 24px; color: #3375b1; font-size: 17px; font-weight: normal; font-family: 'pt_sansbold', sans-serif; line-height: 20px; }
.content img { float: left; margin-right: 20px; padding: 3px; background: #fff; border: 1px solid #c9d0d1; }
.content p { margin-bottom: 20px; }

.meta { overflow: hidden; color: #8d9495; font-size: 13px; }
.meta .icon { margin-right: 5px; }

.meta__rate { padding-top: 5px; float: left; }
.meta__rate span { display: inline-block; margin-right: -4px; width: 33px; height: 22px; line-height: 22px; font-weight: normal; font-family: 'pt_sansbold', sans-serif; font-size: 13px; color: #000; cursor: pointer; text-align: center; vertical-align: middle; border-width: 1px; border-style: solid; border-color: #d4dce0 #bac1c6 #949ba0 #bac1c6; }

.meta__like { margin-left: 8px; -webkit-border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; -ms-border-radius: 2px 0 0 2px; -o-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; }

.meta__fake { -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; -ms-border-radius: 0 2px 2px 0; -o-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }

.meta__author { float: right; width: 180px; }

.soc-like { margin-top: 38px; }

.comments-wrap { margin-top: 25px; }

.comments-title { color: #b1b7b8; font-weight: normal; font-family: 'pt_sansbold', sans-serif; font-size: 20px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75); }

.comment { color: #303030; }
.comment li { margin-bottom: 20px; padding: 0 0 16px; overflow: hidden; border-bottom: 1px dashed #fff; }
.comment li li { border-bottom: 0; padding-bottom: 0; margin: 20px 0 0; }
.comment img { float: left; margin-right: 10px; border: 1px solid #c1c5c6; }

.add-comment li { border-bottom: 0; }

.comment__main { font-size: 13px; overflow: hidden; line-height: 20px; }
.comment__main .input_textarea { overflow: hidden; margin-bottom: 10px; }
.comment__main textarea { min-height: 83px; }
.comment__main .btn { height: 23px; line-height: 23px; padding: 0 14px; }

.comment__meta { color: #99a0a1; }

.comment__answ-link { text-decoration: none; border-bottom: 1px dashed; }

.comment-l-2, .comment-l-3 { padding-left: 45px; }

.comment-l-4, .comment-l-5, .comment-l-6 { padding-left: 0; }
