@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";

// gradients for ie
$experimental-support-for-svg: true;
// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);
$logos: sprite-map("logos/*.png", $spacing: 10px);
@mixin pts_r{
    font-weight: normal;
    font-family: 'pt_sansregular', sans-serif;
}
@mixin pts_i{
    font-weight: normal;
    font-family: 'pt_sansitalic', sans-serif;
}
@mixin pts_b{
    font-weight: normal;
    font-family: 'pt_sansbold', sans-serif;
}
@mixin pts_bi{
    font-weight: normal;
    font-family: 'pt_sansbold_italic', sans-serif;
}
@mixin mp_r {
    font-weight: normal;
    font-family: 'Myriad pro', sans-serif;
}
@mixin mp_b {
    font-weight: bold;
    font-family: 'Myriad pro', sans-serif;
}
@mixin min_r {
    font-weight: normal;
    font-family: 'Conv_MinionPro-Regular';
}