@import "base";
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pts55f-webfont.eot');
    src: url('../fonts/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts55f-webfont.woff') format('woff'),
         url('../fonts/pts55f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pt_sansitalic';
    src: url('../fonts/pts56f-webfont.eot');
    src: url('../fonts/pts56f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts56f-webfont.woff') format('woff'),
         url('../fonts/pts56f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pts75f-webfont.eot');
    src: url('../fonts/pts75f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts75f-webfont.woff') format('woff'),
         url('../fonts/pts75f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('../fonts/pts76f-webfont.eot');
    src: url('../fonts/pts76f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts76f-webfont.woff') format('woff'),
         url('../fonts/pts76f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
*{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body{
	@include pts_r;
    font-size: 15px;
	line-height: 1.4;
    background: url(../img/body-bg.png) 0 0 repeat;
}
    
a{
	color: #75922e;
    font-size: 13px;
	&:hover{
		text-decoration:none;
	}
}
.l-container {
    margin: 0 auto;
    padding: 0 10px;
    width: 990px;
}
    
.l-wrapper {
    margin: 0 auto -124px;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.push {
    clear: both;
    height: 124px;
} 
.wrapper {
    overflow: hidden;
}
.wrap {
    @extend %clr;
}
.title-l-1 {
    @include pts_b;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
/* ------------------------------------ //END Main styles --------------------------------------- */
 
/* ----------------------------------------- Header --------------------------------------------- */
.header {
    position: relative;
    padding: 35px 0;
    background: #fff;
    &:after {
       content: "";
       position: absolute;
       bottom: -4px;
       left: 0;
       width: 100%; 
       height: 4px;
       background: url(../img/header-bg.png) 0 0 repeat;
    }
    .l-container {
        overflow: hidden; 
        position: relative;
    }

}
.logo {
    float: left;
    margin-right: 125px;
    @include sized-sprite($logos, logo);
}
.lang {
    position: absolute;
    left: 64px;
    top: 45px;
    z-index: 2;
    padding: 8px 0 0 25px;
    width: 185px;
    line-height: 30px;
    a {
        float: left;
        margin-right: 6px;
    }
}
.lang__rus {
    @include sized-sprite($icons, rus);
}
.lang__eng {
    @include sized-sprite($icons, eng);
}
.lang__active {
    opacity: .4;
}
.contact {
    float: left;
    padding-top: 7px;
    color: #666565;
    font-size: 13px;
}
.contact__tel {
    i {
        float: left;
        margin-right: 8px;
    }
    span {
        display: block;
        overflow: hidden;
    }
    strong {
        display: block;
        margin: -4px 0;
        font-size: 18px;
        font-weight: normal;
        @include pts_b;
        color: #000;
    }
}
.contact__skype {
    i {
        margin: 0 4px 0 2px;
        vertical-align: middle;
    }
}
.enter-cab {
    float: right;
    overflow: hidden;
    .btn-simple {
        float: right;
        margin-left: 12px;
    }
}
.enter-cab__inf {
    float: left;
    .icon {
        margin-right: 8px;
        vertical-align: middle;
    }
    a {
        color: #666565;
    }
}
.enter-cab__name {
    display: block;
    margin-bottom: -6px;
    color: #303030;
    font-size: 15px;
    @include pts_bi;
}
.enter-cab__message {
    position: relative;
    span {
        position: absolute;
        left: 0;
        top: -2px;
        width: 22px;
        text-align: center;
    }
}
/* -------------------------------------- //END Header ------------------------------------------ */

/* ------------------------------------- Independent blocks -------------------------------------- */
/* ---------------------------------- //END Independent blocks ----------------------------------- */

// icons
.icon {
    display: inline-block;
}
.icon_phone {@include sized-sprite($icons, phone);}
.icon_skype {@include sized-sprite($icons, skype);}
.icon_cab {@include sized-sprite($icons, cab);}
.icon_message {@include sized-sprite($icons, message);}
.icon_close {@include sized-sprite($icons, close);}

// buttons
.btn-simple {
    display: inline-block;
    padding: 0 13px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #303030;
    @include pts_b;
    font-size: 12px;
    background: #fff;
    border: 1px solid #c1c5c6;
    @include border-radius(2px);
    &:hover {
        opacity: 0.8;
    }
    &:active {
        @include box-shadow(inset 0 -1px 3px rgba(0,0,0,0.1));
    }
}
.soc {
    a {
       display: inline-block; 
       margin: 0 7px 2px 0;
    }
}
.vk {@include sized-sprite($icons, vk);}
.odn {@include sized-sprite($icons, odn);}
.lj {@include sized-sprite($icons, lj);}
.tw {@include sized-sprite($icons, tw);}
.fb {@include sized-sprite($icons, fb);}
.g {@include sized-sprite($icons, g);}
.ln {@include sized-sprite($icons, ln);} 

.popup {
    display: none;
    position: absolute;
    top: 270px;
    left: 50%;
    margin-left: -440px;
    width: 880px;
    border: 20px solid rgba(0,0,0,0.3);
    @include border-radius(7px)
}
.popup__wrap {
    position: relative;
    padding: 30px 60px;
    background: #fff;
    overflow: hidden;
    @include box-shadow(0 0 20px rgba(0,59,73,0.5));
    .title-l-1 {
        text-align: center;
    }
    .icon_close {
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
    }
}
.popup__col {
    float: left;
    width: 235px;
    .soc {
        margin-top: 36px;
    }
}
.popup__title {
    font-size: 20px;
    @include pts_b;
}
/* ----------------------------------------- Footer ---------------------------------------------- */
.footer {
    position: relative;
    height: 124px;
    font-size: 13px;
    background: #d6e2e5 url(../img/footer-bg.png) 0 0 repeat;
    &:after {
       content: "";
       position: absolute;
       top: -4px;
       left: 0;
       width: 100%; 
       height: 4px;
       background: url(../img/footer-bg-top.png) 0 0 repeat;
    }
    .l-container {
        padding-top: 53px;
    }
}
.footer__nav {
    float: left;
    overflow: hidden;
    li {
        float: left;
        margin-right: 16px;
    }
    a {
        color: #474747;
    }
}
.copyright {
    float: right;
    color: #7e898e;
    strong {
        color: #75922e;
        font-weight: normal;
        @include pts_b;
        text-transform: uppercase;
    }
}
/* -------------------------------------- //END Footer ------------------------------------------- */ 