@import "base";
.wrap-scroll {
    position: relative;
    overflow: hidden;
    padding-bottom: 52px;
    .nav {
        position: relative;
        z-index: 2;
        float: left;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 60px;
        left: 20px;
        width: 90%;
        height: 10px;
        @include border-radius(50%);
        @include box-shadow(0 0 45px #000); 
    }
}

// scrollable base style
.scroll {
    position: relative;
    overflow: hidden;
}
.scroll__wrap {
    position: absolute;
    width: 2000em;
}
.scroll__item {
    float: left;
}

.scroll-nav {
    text-align: center;
    a {
        display: inline-block;
        margin-right: 5px;
        width: 14px;
        height: 14px;
        background: #fff;
        @include border-radius(50%);
        cursor: pointer;
    }
    .active {
        background: #9ebf4e;
        @include box-shadow(0 0 0 2px #fff); 
    }
}
// image scrolable
.scroll-img {
    position: relative;
    z-index: 2;
    float: left;
    width: 675px; 
    border: 5px solid #fff;
    .scroll-nav {
        position: absolute;
        bottom: 19px;
        left: 0;
        z-index: 2;
        width: 100%;
    }
} 
.scroll-main {
    height: 298px;
    overflow: hidden;
    img {
        float: left;
    }
}
// scrollable logo partners
.scrollable {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    .icon_prev, 
    .icon_next {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -9px;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    .icon_prev {
        left: 0;
    }
    .disabled {
        display: none;
    }
    .all-cons-link  {
        margin-bottom: 45px;
        text-align: center;
    }
    .all-link {
        margin: 0 auto;
        width: 990px;
        text-align: center;
    }
    .lase  {
        margin: 37px 0;
    }
}
.scrollable_partn {
    position: relative;
    margin-bottom: 54px;
    &:after {
        content: "";
        position: absolute;
        bottom: 15px;
        left: 20px;
        width: 90%;
        height: 10px;
        @include border-radius(50%);
        @include box-shadow(0 0 45px #000); 
    }
}
.scroll-partners {
    position: relative;
    z-index: 2;
    margin-left: 30px;
    padding-top: 15px;
    width: 942px;
    height: 95px;
    background: #fff;
    @include skew(-7deg);
    .scroll__wrap {
        @include skew(7deg);
    }
    .scroll__item {
        margin-left: 18px;
        width: 215px;
        a{
            float: right;
            width: 170px;
            line-height: 1;
            font-size: 13px;
        }
        strong {
            display: block;
            margin-bottom: 8px;
            font-size: 15px;
            font-weight: normal;
            @include pts_b;
        }
    }
    img {
        float: left;
        margin-right: 9px;
        border: 1px solid #c1c5c6;
    }
}

// scroll consultans
.scrollable-wrap {
    position: relative;
    margin: 0 10px;
    .icon_next, 
    .icon_prev {
        right: -8px;
        margin-top: -30px;
    }
    .icon_prev {
        left: -8px;
    }
}
.scroll-cons {
    width: 920px;
    margin: 0 auto;
    height: 267px;
}


.all-link {
    border-top: 1px dashed #fff;
    padding-top: 2px;
    a {
        font-size: 17px;
        text-decoration: none;
        border-bottom: 1px solid;
        &:hover {
            border-bottom: 0;
        }
        @extend %arrow;
    }
}
.all-link_red {
    a {
        color: #ec2d13;
        @extend %arrow_red;
    }
}
.title-l-1_mod {
    margin-bottom: 18px;
    color: #b1b7b8;
    text-shadow: 0 1px 0 rgba(255,255,255,.75);
}

.feed {
    padding-right: 5px;
    color: #474747;
    li {
        margin-bottom: 22px;
    }
}
.feed__date {
    display: block;
    margin-bottom: -8px;
    color: #99a0a1;
    font-size: 13px;
}
.feed__title {
    a {
        font-size: 17px;
        color: #000;
        font-weight: normal;
    }
}
.feed__descr {
    @include pts_i;
    @extend %arrow;
}
.spec-propose {
    padding-right: 5px;
    li {
        margin-bottom: 24px;
    }
}
.spec-propose__title {
    margin-bottom: 3px;
    color: #ec2d13;
    font-size: 17px;
    text-transform: uppercase;
    a {
        color: #ec2d13;
    }
}
.spec-propose__descr {
    @include pts_i;
    font-size: 15px;
    @extend %arrow_red;
}