@import "base";
.page-title {
    overflow: hidden;
    padding-bottom: 28px;
    .title-l-1 {
        float: left;
    }
    .btn, .select-wrap {
        float: right;
    }
}
.article {
    margin-bottom: 28px;
    padding-bottom: 30px;
    color: #474747;
    @include box-shadow(inset 0 -20px 32px -15px rgba(255,255,255,0.8));
    .title-l-2 {
        padding-bottom: 3px;
        color: #3375b1;
        a {
            color: #3375b1;
        }
    }
}
.article__date {
    padding-bottom: 14px;
    color: #99a0a1;
    font-size: 13px;
}
.article__preview {
    float: left;
    margin-right: 20px;
    border: 1px solid #c9d0d1;
    img {
        display: block;
        border: 3px solid #fff;
    }
}
.article__meta {
    padding-left: 8px;
    color: #99a0a1;
    font-size: 13px;
    .icon {
        vertical-align: middle;
        margin:0 3px 0 5px;
    }
}
.article__descr {
    overflow: hidden;
    p {
        margin-bottom: 10px;
    }
}
.question {
    overflow: hidden;
}
.question__body {
    display: none;
    padding: 0 0 10px 48px;
    @include pts_i;
    p {
        margin-bottom: 10px;
    }
}
.question__date {
    margin-bottom: 2px;
    font-size: 13px;
    @include pts_r;
}
.question__read {
    color: #75922e;
    border-bottom: 1px dashed;
    @extend %arrow;
    cursor: pointer;
    @include user-select(none);
}

.pagin {
    a {
        display: inline-block;
        margin-right: 12px;
        &:first-child, 
        &:last-child {
            @include min_r;
        }
    }
}
.pagin__active {
    @include pts_b;
    color: #3375b1;
    text-decoration: none;
}

.popup_question {
    width: 523px;
    margin-left: -261px;
    textarea {
        height: 183px;
    }
    .btn_big {
        margin: 0 auto;
        width: 128px; 
        width: 128px;
        display: block;
    }
}

.tab {
    margin-top: 50px;
    margin-bottom: -23px;
    li {
    }
    span {
        display: block;
        position: relative;
        margin: -22px auto -1px;
        padding-left: 6px;
        width: 138px;
        height: 21px;
        line-height: 21px;
        background: #f8f7f7;
        font-size: 12px;
        color: #666;
        border-top: 1px solid #d8d6d6;
        cursor: pointer;
        @include user-select(none);
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: -1px;
            right: -12px;
            @include sized-sprite($icons, corn-r);
        }
        &:before {
            left: -12px;
            @include sized-sprite($icons, corn-l);
        }
    }
    .active {
        background: #fff;
        &:after {
            @include sized-sprite($icons, corn-r-active);
        }
        &:before {
            @include sized-sprite($icons, corn-l-active);
        }
    } 
    div {
        height: 21px;
        background: #f8f7f7;
        border: 1px solid #d8d6d6;
    }
}
.tab-cont {
    display: none;
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 1px solid #d8d6d6;
    border-top: 0;
    .icon_prev,
    .icon_next { 
        position: absolute;
        top: 50%;
        right: 13px;
        margin-top: -9px;
        cursor: pointer;
        @include user-select(none);
    }
    .icon_prev {
        left: 13px;
    }
    .disabled {
        display: none;
    }
}

.scroll-tab {
    padding-top: 12px;
    margin: 0 auto;
    height: 260px; 
    width: 226px;
    .scroll__item {
        padding: 5px;
        margin-right: 15px;
    }
    .cons {
        margin: 0;
    }
}

// content style
.content-wrap {
    padding-bottom: 18px;
    margin-bottom: 25px;
    @include box-shadow(inset 0 -20px 32px -15px rgba(255,255,255,0.8));
}
.content {
    padding-top: 14px;
    h1 {
        padding-bottom: 24px;
        color: #3375b1;
        font-size: 17px;
        @include pts_b;
        line-height: 20px;
    }
    img {
        float: left;
        margin-right: 20px;
        padding: 3px;
        background: #fff;
        border: 1px solid #c9d0d1;
    }
    p {
        margin-bottom: 20px;
    }
}

// content meta info
.meta {
    overflow: hidden;
    color: #8d9495;
    font-size: 13px;
    .icon {
        margin-right: 5px;
    }
}
.meta__rate {
    padding-top: 5px;
    float: left;
    span {
        display: inline-block;
        margin-right: -4px;
        width: 33px;
        height: 22px;
        line-height: 22px;
        @include pts_b;
        font-size: 13px;
        color: #000;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        border-width: 1px;
        border-style: solid;
        border-color:  #d4dce0 #bac1c6 #949ba0 #bac1c6;
    }
}
.meta__like {
    margin-left: 8px;
    @include border-radius(2px 0 0 2px);
}
.meta__fake {
    @include border-radius(0 2px 2px 0);
}
.meta__author {
    float: right;
    width: 180px;
}
.soc-like {
    margin-top: 38px;
}

// comments
.comments-wrap {
    margin-top: 25px;
}
.comments-title {
    color: #b1b7b8;
    @include pts_b;
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,.75);
}
.comment {
    color: #303030;
    li {
        margin-bottom: 20px;
        padding: 0 0 16px;
        overflow: hidden;
        border-bottom: 1px dashed #fff;
        li {
            border-bottom: 0;
            padding-bottom: 0;
            margin: 20px 0 0;
        }
    }
    img {
        float: left;
        margin-right: 10px;
        border: 1px solid #c1c5c6;
    }
}
.add-comment {
    li {
        border-bottom: 0;
    }
}
.comment__main {
    font-size: 13px;
    overflow: hidden;
    line-height: 20px;
    .input_textarea {
        overflow: hidden;
        margin-bottom: 10px;
    }
    textarea {
        min-height: 83px;
    }
    .btn {
        height: 23px;
        line-height: 23px;
        padding: 0 14px;
    }
}
.comment__meta {
    color: #99a0a1;
}
.comment__answ-link {
    text-decoration: none;
    border-bottom: 1px dashed;
}
.comment-l-2,
.comment-l-3 {
    padding-left: 45px;
}
.comment-l-4,
.comment-l-5,
.comment-l-6 {
    padding-left: 0;
} 

// partners
.partner {
    margin-bottom: 20px;
    padding: 21px 0;
    background: #fff;
    @include border-radius(10px);
    @include box-shadow(0 0 10px rgba(0,0,0,.1));
}
.partner__logo,
.partner__descr,
.partner__rate {
    display: inline-block;
    vertical-align: middle;
} 
.partner__logo {
    margin-right: -4px;
    text-align: center;
    width: 121px;
    img {
        margin-bottom: -4px;
    }
}
.partner__descr {
    padding-left: 20px;
    width: 375px;
    font-size: 14px;
    line-height: 1.1;
    @include pts_i;
    border-left: 1px solid #c1c5c6;
}
.partner__title {
    margin-bottom: 14px;
    @include pts_b;
    font-size: 22px;
    line-height: 20px;
}
.partner__rate {
    width: 95px;
    text-align: right;
    @include pts_i;
    font-size: 35px;
    color: #75922e;
}

//consultants block
.consultants{
    
}
.consultants__wrap {
    @extend %clr;
    padding: 88px 0 30px;
    background: url(../img/lase-small.png) 0 0 no-repeat;
}
.cons_small {
    margin: 0 0 0 41px;
    &:first-child {
        margin-left: 0;
    }
    .cons__wrap {
        padding: 12px 14px 30px;
    }
} 

// programs

.program-wrap {
    margin-right: -30px;
}
.program {
    display: inline-block;
    margin: 0 23px 38px 0;
    vertical-align: top;
    width: 305px;
    @include pts_i;
    li {
        position: relative;
        padding-left: 15px;
        &:before {
            content: "—";
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
.program__title {
    position: relative;
    margin-bottom: 10px;
    width: 284px;
    height: 50px;
    line-height: 50px; 
    color: #fff;
    @include pts_b;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    background: #abc765;
    border-top: 1px solid #c5d995; 
    border-bottom: 4px solid #829d42;
    @include box-shadow(0 -1px 0 #9ebf4e);
    &:after {
        content: "";
        position: absolute;
        right: -20px;
        top: -2px;
        @include sized-sprite($icons, corner-small);
    }
} 